---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.svelte';

import moment from 'moment';

const { content } = Astro.props;
---

<html lang={content.lang || 'en'}>
	<head>
		<MainHead title={content.title} description={content.description} />
		<style>
			.hero {
				padding: 8rem;
				display: flex;
				background-color: var(--t-bg);
				background-repeat: no-repeat;
				background-size: cover;
				min-height: 25vw;
				color: var(--c-white);
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}

			.tag {
				margin-left: 0.5em;
				margin-right: 0.5em;
				display: inline-block;
				color: var(--t-bg);
				background-color: var(--c-white);
				padding: 0.1rem 0.6rem;
				border-radius: var(--border);
				text-transform: uppercase;
			}

			.title {
				font-size: var(--f-u10);
				font-weight: 900;
				text-transform: uppercase;
				letter-spacing: 0.0625em;
			}

			.leadIn {
				padding-top: 4em;
				max-width: 80em;
				margin-left: auto;
				margin-right: auto;
				color: var(--c-white);
				background-color: var(--t-bg);
				text-align: center;
			}

			.tagline {
				font-weight: 300;
				font-size: var(--f-u1);
				line-height: 1.5;
			}

			.content {
				font-size: var(--f-u1);
				line-height: 2.2;
				max-width: 50em;
				margin: auto;
			}

			.tags {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
			}
			
			.top {
				max-width: 58em;
				margin: auto;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
			}

			footer {
				text-align: center;
				margin-top: 3rem;
			}
		</style>
	</head>
	<body>
		<Nav />
		<header style={`background-image:url("${content.img}")`} class="hero">
			<h1 class="title">{content.title}</h1>
		</header>
		<div class="leadIn">
			<div class="top">
				<div class="tags">
					{content.tags.map((t) => <span class="tag">{t}</span>)}
				</div>
				<div class="date">
					<i class="fas fa-calendar"></i>
					{moment(new Date(content.publishDate)).fromNow()}
				</div>
			</div>
			<h3 class="tagline">{content.description}</h3>
		</div>
		<div class="wrapper">
			<div class="content"><slot /></div>
		</div>
		<footer>
			<a href="/blog" class="button">More articles</a>
		</footer>
		<Footer />
	</body>
</html>
